# **The second Lab-assignment (07/19/2022 11:59'AM' - 07/22/2022 11:59PM, 50 points in total)**

# Question 1

(5 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [7]:
# Your code here
import random

numbers = []

for items in range(1,13):
    x = random.randint(1,100)
    numbers.append(x)

print ("Random numbers  : ", numbers)

numbers.sort()
print("Ascending order : ", numbers)

numbers.sort(reverse = True)
print ("Decending order : ", numbers)

def avg(numbers):
    return sum(numbers) / len(numbers)

print ("Average of the list is : ", round(avg(numbers),2))

Random numbers  :  [94, 99, 47, 63, 89, 39, 44, 28, 27, 55, 60, 49]
Ascending order :  [27, 28, 39, 44, 47, 49, 55, 60, 63, 89, 94, 99]
Decending order :  [99, 94, 89, 63, 60, 55, 49, 47, 44, 39, 28, 27]
Average of the list is :  57.83

# Question 2 

(5 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [9]:
# Your code here
import math

def volume(r):
    return (4/3*math.pi*r**3)

print('r     v')
for r in range(1, 11):
    print (str(r) +"     " +str(volume(r)))

r     v
1     4.1887902047863905
2     33.510321638291124
3     113.09733552923254
4     268.082573106329
5     523.5987755982989
6     904.7786842338603
7     1436.7550402417319
8     2144.660584850632
9     3053.6280592892786
10     4188.790204786391

# Question 3

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [lab_assignment_02_denton_housing.csv](https://github.com/suthapalliuday/INFO5502-Summer2022/blob/main/datasets/lab_assignment_02_denton_housing.csv) included with this assignment. The file [lab_assignment_02_denton_housing.csv](https://github.com/suthapalliuday/INFO5502-Summer2022/blob/main/datasets/lab_assignment_02_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [31]:
# Your code here

import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/suthapalliuday/INFO5502-Summer2022/main/datasets/lab_assignment_02_denton_housing.csv")
df.head()

   year             title_field  value
0  2014     Total Housing Units  49109
1  2014    Vacant Housing Units   2814
2  2014  Occupied Housing Units  46295
3  2013     Total Housing Units  47888
4  2013    Vacant Housing Units   4215

(1) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

In [17]:
#1
occupied_housing = df[df["title_field"]=="Occupied Housing Units"].sort_values(by=['year'])
#occupied_housing
occupied_housing.value.diff().sort_values()

17    -795.0
11    -303.0
8     1404.0
5     1565.0
2     2622.0
14    5091.0
20       NaN
Name: value, dtype: float64

In [23]:
occupied_housing_df = pd.DataFrame({'Consecutive years':['2008 - 2009', '2009 - 2010', '2010 - 2011', '2011 - 2012', '2012 - 2013', '2013 - 2014'],'Difference value' :[-795.0, 5091.0, -303.0, 1404.0, 1565.0,2622.0]})

#occupied_housing_df
occupied_housing_df.sort_values(by=['Difference value'])

  Consecutive years  Difference value
0       2008 - 2009            -795.0
2       2010 - 2011            -303.0
3       2011 - 2012            1404.0
4       2012 - 2013            1565.0
5       2013 - 2014            2622.0
1       2009 - 2010            5091.0

(2) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

In [27]:
#2
occupied = df[df["title_field"] == "Occupied Housing Units"].sort_values(by = ["year"])

#occupied 
vacant = df[df["title_field"] == "Vacant Housing Units"].sort_values(by = ["year"])

#vacant

df_merge = pd.merge(occupied, vacant, on = ["year"])


df_merge["occupied_percentage"] = round(((df_merge["value_x"]/(df_merge['value_x']+df_merge['value_y']))*100))
df_merge["vacant_percentage"] = round((df_merge["value_y"]/(df_merge['value_x']+df_merge['value_y']))*100)

Percentage_of_housing_units = df_merge[["year", "occupied_percentage", "vacant_percentage"]]
Percentage_of_housing_units

   year  occupied_percentage  vacant_percentage
0  2008                 89.0               11.0
1  2009                 91.0                9.0
2  2010                 92.0                8.0
3  2011                 91.0                9.0
4  2012                 93.0                7.0
5  2013                 91.0                9.0
6  2014                 94.0                6.0

Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:

In [25]:
#3

occupied_max = df.loc[df['title_field'] == 'Occupied Housing Units','value'].max()
df_result1 = df.loc[df['value'] == occupied_max]


final_table1 = df_result1[['title_field', 'year', 'value']]

vaccant_max = df.loc[df['title_field'] == 'Vacant Housing Units','value'].max()
df_result2 = df.loc[df['value'] == vaccant_max]



final_table2 = df_result2[['title_field', 'year', 'value']]


df_final = pd.concat([final_table2, final_table1])
print (df_final)

               title_field  year  value
19    Vacant Housing Units  2008   4483
2   Occupied Housing Units  2014  46295

Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here:

In [26]:
#4.

import statistics

print(statistics.harmonic_mean(list(df[df["title_field"] == "Total Housing Units"].value)))

44398.28543969185